@font-face {
    font-family: 'Gotham Book';
    src: 
        url('https://www.example.com/assets/fonts/Gotham-Book.eot'),
        url('https://www.example.com/assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('https://www.example.com/assets/fonts/Gotham-Book.woff2') format('woff2'),
        url('https://www.example.com/assets/fonts/Gotham-Book.woff') format('woff'),
        url('https://www.example.com/assets/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body, html {
    height: 100%;
    max-height: 100vh;
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161039;
    flex-direction: column-reverse;
}



.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
}

.image-wrapper img {

    max-height: 6   0vh; /* Adjust this value as needed */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures the image is scaled to fit while maintaining its aspect ratio */
    margin-top: 50%;
    border: 8px solid #49240a; /* Your existing border styles */
    border-radius: 0px;
    box-shadow: 0 0 0 10px #7c3d11, 0 0 0 15px #49240a;
}

.label-wrapper {
    background-color:rgb(0,0,0);
    background-image:url(http://www.zingerbugimages.com/backgrounds/green_marble_background_seamless.jpg);
    background-position:top left;
    background-repeat:repeat;
    background-attachment:fixed;
    min-width: 50px;
    min-height: 50px;
    display:grid;
    align-items: center;
    
}

.label-wrapper .title {
    font-family: 'GothamBook', Arial, Helvetica, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0 20px; 
    max-width: 600px;
}

.description-wrapper .text {
    font-family: 'GothamBook', Arial, Helvetica, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: whitesmoke;
    margin:20px;
    padding: 0 20px; 
    max-width: 600px;
}


button {
    margin: 20px 0;
}

.description-wrapper .play-stop {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.description-wrapper .play-stop:hover {
    background-color: #0056b3; 
}

.hidden {
    display: none;
}
  
.visible {
    display: flex;
}